@model DotnetP5App.ModelsViewModels.RepairCarViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin:150px">
    <div class="row">
        <div class="col-md-12">
            <div class="card w-50 m-auto">
                <div class="card-body ">
                    <h4 class="card-title">Edit Repair: @Model.Id</h4>
                    <form asp-action="Edit">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                        <div class="form-group">
                            <label asp-for="@Model.Amount" class="control-label"></label>
                            <input asp-for="@Model.Amount" class="form-control" value="@Model.Amount" />
                            <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description" class="control-label"></label>
                            <input asp-for="@Model.Description" class="form-control" value="@Model.Description" />
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index">Back to list &nbsp; </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

