@model IEnumerable<DotnetP5App.Models.RepairCar>
@{
    ViewData["Title"] = "View";
}


<div class="container" style="margin:120px auto">
    <section class="jumbotron text-center">
        <div class="container-fluid">
            <h1 class="jumbotron-heading"> Service and Repair</h1>
            <p class="lead text-muted">Display all informations about services and repairs.</p>
        </div>
    </section>
    <p>
        <a asp-action="Create" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Add New Repair</a>
    </p>
    <div class="table-responsive-sm text-center">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RepairCost)
                    </th>
                    <th scope="col">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepairCost)
                        </td>

                        <td>
                            <a asp-controller="Repair" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> 
                            <a asp-controller="Repair" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> 
                            <a asp-controller="Repair" asp-action="DeleteConfirmation" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>