@model DotnetP5App.Models.Car

@{
    ViewData["Title"] = "Delete";
}


<div class="container" style="margin:150px auto">    
    <div class="row">
        <div class="col-md-12">
            <div class="card w-50 m-auto">
                <div class="card-body">
                    <h4 class="card-title">Are you sure to delete this car model ?</h4>
                    <p class="card-text">
                        <dl class="row text-center">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Id)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Id)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Model)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Model)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Trim)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Trim)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Make)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Make)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Year)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Year)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Vin)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.Vin)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.PurchasePrice)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.PurchasePrice)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.PurchaseDate)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.PurchaseDate)
                            </dd>
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.LotDate)
                            </dt>
                            <dd class="col-sm-9">
                                @Html.DisplayFor(model => model.LotDate)
                            </dd>
                        </dl>
                    </p>
                    <form asp-action="Delete">
                        @Html.HiddenFor(x => x.Id)
                        <input type="submit" value="Confirm" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
     </div>   
</div>
