@using Microsoft.AspNetCore.Identity
@using DotnetP5App.Areas.Identity.Data

@model DotnetP5App.Models.Car
@inject UserManager<SecureAppUser> UserManager
@inject SignInManager<SecureAppUser> SignInManager

@{
    ViewData["Title"] = "View";
}

<div class="container" style="margin:150px 0">
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail" src="~/images/@Model.ProfilePicture" width="400" height="400" alt="" />
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-title">
                    <h4 class="text-center">@Model.Make @Model.Model @Model.Trim</h4>
                    <p class="text-center">
                        @Model.Description
                    </p>
                    <hr />
                </div>
                <div class="card-body text-center">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Model)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Model)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Trim)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Trim)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Make)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Make)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Vin)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Vin)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.PurchasePrice)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.PurchasePrice)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.PurchaseDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Convert.ToDateTime(Model.PurchaseDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.LotDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Convert.ToDateTime(Model.LotDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayFor(model => model.Status)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayNameFor(model => model.Status)
                        </dd>
                    </dl>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="form-group">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                            <a class="btn btn-warning" asp-controller="Cars" asp-action="Index">Back to List</a>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-warning" asp-controller="Inventory" asp-action="Index">Back To Inventory</a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>