@model IEnumerable<DotnetP5App.Models.Car>

@{
    ViewData["Title"] = "View";
}



<div class="container" style="margin: 120px auto">
    <section class="jumbotron text-center">
        <div class="container-fluid">
            <h1 class="jumbotron-heading"> Cars inventory</h1>
            <p class="lead text-muted">A Dashboard to view what cars is still available.</p>
        </div>
    </section>
    <p>
        <a asp-action="Create" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Add New Car</a>
    </p>
    <div class="table-responsive-sm">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Trim)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Make)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Vin)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PurchasePrice)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PurchaseDate)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LotDate)
                    </th>
                    <th scope="col">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchasePrice)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.PurchaseDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.SaleDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <a asp-controller="Cars" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> 
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> 
                            <a asp-controller="Cars" asp-action="DeleteConfirmation" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>        
    </div>

</div>