@model DotnetP5App.ViewModels.InventoryViewModel

@{
    ViewData["Title"] = "View";
}

<h4>Dashbord-Inventory</h4>
<hr />
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-body" style="margin: 20px">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="sel1">Select list (select one):</label>
                    @Html.DropDownListFor(x => x.RepairCost, Model.RepairCar, "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="sel1">Select list (select one):</label>
                    @Html.DropDownListFor(x => x.CarId, Model.Cars, "", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Profit, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Profit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Profit, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.TotalCost, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.TotalCost, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.TotalCost, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.CustomerName, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CustomerName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i>Back to List</a>
                    <input type="submit" value="Create" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                </div>
            </form>
        </div>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

