@model List<DotnetP5App.ViewModels.DetailCarViewModel>
@{
    ViewData["Title"] = "Inventory";
}

<section class="jumbotron text-center">
    <div class="container-fluid">
        <h1 class="jumbotron-heading"> Inventory</h1>
        <p class="lead text-muted">Display all car's information from inventory.</p>
    </div>
</section>

<section class="container-fluid album py-5 bg-light">
    <div class="row">
        @foreach (var CarVMDetail in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="~/images/@CarVMDetail.Cars.ProfilePicture" alt="Card image cap">
                    <div class="card-body">
                        <h3> @CarVMDetail.Cars.Make @CarVMDetail.Cars.Model  @CarVMDetail.Cars.Trim</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p>@CarVMDetail.Cars.Description</p>
                            </div>
                        </div>
                        <p>
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@CarVMDetail.Cars.Id" class="btn btn-primary" role="button">Details</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
